.DS_Store
build
.gradle
.idea
**/node_modules
**/out
**/*.tgz
.testresults/**

# Visual Studio Related
**/.vs
**/bin
**/obj

# C# Telemetry Client Generator Related
telemetry/csharp/buildtemp/**
telemetry/csharp/AwsToolkit.Telemetry.SDK/Generated/**
telemetry/csharp/client-generator-inputs/telemetry-2017-07-25.normal.json

# AWS Documents language server related
lsp/target/
lsp/src/parsers/json_schema/test_suite/
lsp/awsdocuments_language_server
lsp/src/filetypes/buildspec/*.schema.json
