.DS_Store
build
.gradle
.idea
**/node_modules
**/out
**/*.tgz
.testresults/**

# Visual Studio Related
**/.vs
**/bin
**/obj

# C# Telemetry Client Generator Related
telemetry/csharp/buildtemp/**
telemetry/csharp/AwsToolkit.Telemetry.SDK/Generated/**
telemetry/csharp/client-generator-inputs/telemetry-2017-07-25.normal.json

# LSP Related
lsp/out
lsp/node_modules
lsp/.vscode-test
lsp/awsdocuments-language-server-*
!lsp/bin
